body {
    background-attachment: fixed;
    background-color: rgb(189, 189, 173)
};
    
        h1 {
            color: palevioletred;
            width: 300;
            height: 60;
            display: contents;
            justify-content: center;
            align-items: center;
            transition-property: all;
            transition-delay: 0ms;
            position: absolute;
            top:70%;
            right:30%;
            left: 30%;
            }
            
            /*overskrifter*/

             h2, h3, h4 {
                color: rgb(228, 152, 152);
                position: relative;
                float: right;
                margin-right: 15%;
                width: 80%;
                margin-top: initial;

            }

            /* p er alle tekster*/

            p { color: rgb(71, 67, 67);
                position: relative;
                float: right;
                margin-right: 15%;
                width: 80%;
                margin-top: initial; }


                    

             /*bildene*/

        

            .helicopter {
                position: relative;
                left: 470px;
                width: 55%;
                bottom: 290px;
                margin-top: initial;
                display: inline;
                
                
            }

            .helicopter:hover {
                color: aliceblue;
                transform: rotate(720deg);
                box-shadow: inset 0 0 0 5px rgb(214, 156, 156);
                width: 300px;
                height: 50px;

            }
            
            .vann {
              position: relative;
              left: 50px;
              margin-right: 750px;
              bottom: 520px;
            }

    
            /*tekst boksene*/

            .box { 
                width: 30%;
                height: 240px;
                margin: 100px auto;
                position: relative;
                right: 280px;
                margin-left: 750px;
                bottom: 340px;
                background-color: rgb(152, 139, 139);
                display: flex; 
               transition-property: all;
               transition-duration: 2s;
               transition-timing-function: ease-in-out;
               transition-delay: 0s;
            } 
            .box:hover {
                color: aliceblue;
                transform: rotate(720deg);
                box-shadow: inset 0 0 0 5px grey;
                width: 300px;
                height: 50px;

            }



            .box1 {
                width: 29%;
                height: 300px;
                position: relative;
                margin-left: 400px;
                right: 850px;
                top: 99%;
                bottom: 310px;
                background-color: rgb(152, 139, 139);
                
            }

        
            
            .box2 {
                width: 55%;
                height: 280px;
                margin-left: 100px auto;
                position: relative;
                left: 99%;
                bottom: 210px;
                background-color: rgb(152, 139, 139);
            }
            

          /*siste tekstboks skriften (ikke rør)*/
            .h4 {

                width: 22%;
                height: 200px;
                position: relative;
                right: 60px;
                top: 90%;
                bottom: 80px;
            }

            /*animasjoner:*/
            

            
            