body {
    background-attachment: fixed;
    background-color: rgb(176, 43, 43);
}
    
        h1 {
            color: rgb(227, 192, 192);
            width: 300;
            height: 60;
            display: contents;
            justify-content: center;
            align-items: center;
            transition-property: all;
            transition-delay: 0ms;
            position: absolute;
            top:70%;
            right:30%;
            left: 30%;
            }
            /*overskrifter*/

             h2, h3, h4 {
                color: rgb(228, 152, 152);
                position: relative;
                float: right;
                margin-right: 15%;
                width: 80%;
                margin-top: initial;

            }

            /* p er alle tekster*/

            p { color: rgb(71, 67, 67);
                position: relative;
                float: right;
                margin-right: 15%;
                width: 80%;
                margin-top: initial; }

             /*bildene*/

            .helicopter {
                position: absolute;
                float: right;
                top: 7%;
                margin-left: 30%;
                width: 55%;
                bottom: 185%;
            }
            
            .vann {
              position: relative;
              float: left;
              top: 87%;
              margin-left: 750px;
              bottom: 670px;
              margin-top: initial;
            }

            /*tekst boksene*/

            .box { 
                width: 25%;
                height: 270px;
                margin: 100px auto;
                position: relative;
                right: 470px;
                bottom: 75px;
                background-color: white;
                display: flex;
                

                .box:hover{
                    color: aqua;
                }
            
    
            } 
            .box1 {
                width: 30%;
                height: 300px;
                position: relative;
                left: 60px;
                top: 95%;
                bottom: 75px;
                background-color: white;
            }
        
            
            .box2 {
                width: 55%;
                height: 280px;
                margin-left: 100px auto;
                position: relative;
                left: 2%;
                bottom: 0%;
                background-color: white;
            }

          /*siste tekstboks skriften (ikke rør)*/
            .h4 {

                width: 22%;
                height: 200px;
                position: relative;
                right: 60px;
                top: 90%;
                bottom: 80px;
            }

            /*animasjoner:*/
            
            