html{
  overflow: scroll;
}

body {
  margin: 0;
  background-color: rgba(122, 71, 9, 0.392)

}

/* bøtta for hele top nav i design */


.index-header {
position: fixed;
z-index: 999;
width: 1500px;
height: 9.3vh;
background-color: #3c0c0c96;
color: #f4eded;
border-bottom:#461f1fc9 1px solid;
}

/* (inne i index-header)   */
.header-content {
height: 13vh;
display: flex;
flex-direction: column-reverse;
justify-content: space-between;
align-items:end;
}

/* (inne i header-content) */
#title-txt{
position: absolute;
margin-right:1190px;
margin-bottom: -14px;
font-family: the seasons light ;
font-size:x-large;
font-weight:100;
}

/* (inne i index header) */
.site-nav ul {
display: flex;
list-style: none;
 margin-top: -47px;
flex-direction: row;
justify-content: end;
align-items: start;
margin-right: 100px;

position: relative;
gap: 30px;


}

/* (inne a inne i site-nav som er inne i index header) */
.site-nav a {
color: #e5e2e2;
text-transform: uppercase;
text-decoration: none;
}

/* (inne a inne i site-nav som er inne i index header - transition) */
.site-nav a:hover {
color: #f4eded;
font-size: large;
transition-duration: 200ms;
transition-timing-function: ease-in-out;
}

/* SESSION PART 1*/


#title-rest {
position: fixed;
width: 300px;
text-align: center;
margin-top: 200px;
margin-left: 900px;
font-size: 20px;
font-family: didot;
color: white;
}

#title-gg {
position: fixed;
width: 600px;
text-align: center;
margin-top: 240px;
margin-left: 750px; /* tok minus 150 som er 1/2 av 300 av 300 ekstra px width fra title-rest til title-gg for å få centrert ene text unner andre */
font-size: 20px;
font-family: didot;
color: white;
}

#first-pic{
  position: fixed;
  top: 76px;
  right: 0%;
  z-index: -1;
}

#test{
  position: fixed;
  height: 600px;
  width: 100%;
  margin-top: 645px;
  background-color: rgba(64, 8, 8, 0.884);
}

  #test-2{
    position: relative;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    height: 500px;
    background-color: rgba(64, 8, 8, 0.884);
    border-radius: 5px;
    border: solid black 5px;
    text-align: center;
  }
      #cooks-title{
        padding-top: 75px;
      }
      #cooks-text{
        position: absolute;
        padding-top: 25px;
        padding-left: 100px;
        padding-right: 100px;
      }

/*display flex*/